@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format('truetype');
    font-weight: 300 800;
    font-variation-settings: "wdth" 75 100;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format('truetype');
    font-weight: 300 800;
    font-variation-settings: "wdth" 75 100;
    font-style: italic;
}

:root {
    --text-color: rgb(50, 50, 50);
    --text-color-medium: rgb(100, 100, 100);
    --text-color-light: rgb(230, 230, 230);
    --accent-color: rgb(0, 109, 182);
    --accent-color-hover: rgb(93, 190, 255);
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--text-color-light);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    font-size: 100%;
}

strong {
    font-weight: 600;
}

h1, h2, h3 {
    font-weight: 800;
}
h4, h5 {
    font-weight: 600;
}
h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-bottom: 1.5rem;
}
h4 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    color: var(--accent-color);
    font-size: 1rem;
    text-decoration: none;
    transition: font-weight 200ms ease-out;
}

a:hover {
    font-weight: 600;
    transition: font-weight 200ms ease-in;
}

a:active {
    font-weight: 700;
    color: var(--accent-color-light);
    transition-property: font-weight, color;
    transition: all 200ms ease-in-out;
}

nav {
    background-color: white;
    height: 64px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 16px 24px;
    gap: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: white;
    padding: 32px 24px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--text-color-light);
}

footer p,
footer a {
    font-size: 0.8rem;
}

button {
    padding: 8px;
    width: 100%;
    color: white;
    border: none;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--text-color);
    transition-property: font-weight, background-color;
    transition: all 400ms ease-in-out;
}

button:hover {
    font-weight: 600;
    background-color: var(--text-color-light);
    border: black 2px solid;
    color: var(--text-color);
    transition-property: font-weight, background-color, border, color;
    transition: all 400ms ease-in-out;
}

button:active {
    font-weight: 800;
    background-color: black;
    transition: background-color 200ms ease-in-out;
}

.caption {
    font-size: 0.8rem;
}

.menu {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    font-size: 0.8rem;
    min-height: 34px;
    min-width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
}

.menu-link {
    color: var(--text-color);
}

.menu-link:active {
    color: var(--text-color-light);
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.2rem;
}

.logo-colmar {
    font-weight: 800;
}

.logo-academy {
    font-weight: 600;
    color: var(--text-color-medium);
}

.main-element {
    display: flex;
    padding: 0px 24px 32px 24px;
    gap: 12px;
}

.main-image {
    flex-basis: 60%;
    min-height: 70vh;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-info {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 24px;
    padding: 32px 16px;
}

.thirty {
    flex-basis: 30%;
}

.main-info h2 {
    margin-bottom: 8px;
}

.second-main-info {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 16px;
}

.second {
    background-color: white;
    padding: 16px 24px 32px 24px;
    gap: 0px;
}

.main-image-text{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-top: 16px;
}

#emanuel {
    width: 100%;
    min-height: 40vh;
    background-image: url('../images/information-main.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 32px;
}

.caption {
    padding-top: 24px;
    justify-self: flex-end;
}

.info-el {
    display: flex;
    gap: 1rem;
    padding: 16px;
    flex-basis: calc(100%/3);
}

.info-el:hover {
    background-color: var(--text-color-light);
}

.info-el-picture {
    flex-basis: 35%;
    background-position: center;
    background-size: cover;
    height: auto;
}

.info-el-info {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 48px 16px 48px;
    gap: 32px;
}

.section-element {
    padding: 32px 24px;
}

.section-element h3{
    text-align: center;
}

.section-element h4{
    padding-bottom: 8px;
}

.section-element p{
    padding-bottom: 8px;
}

#thesis-exhibit {
    background-color: white;
}

.video-info {
    width: 100%;
    min-height: 40vh;
    margin-bottom: 24px;
    background-color: var(--text-color);
}

.course {
    flex-basis: calc(( (100% - 64px) /3));
    background-color: white;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.course h4,
.course p {
    padding: 0px 16px;
}

.course p {
    color: var(--text-color-medium);
}

.footer-links {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 600px)  {
    .logo {
        flex-basis: calc(100% * 0.25);
        width: 100%;
        height: 100%;
    }

    .menu {
        justify-content: space-between;
        flex-basis: calc(100% * 0.75);
    }

    .menu-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: calc(100%/3);
        transition: transform 400ms ease-in-out;
    }

    .menu-link:hover {
        transform: scale(1.1);
        transition: transform 400ms ease-in-out;
    }
    
    .menu-link:active {
        transform: scale(1);
    }

    #logo-text {
        display: none;
    }

    .main-element {
        flex-direction: column;
        padding: 0px
    }

    .main-info {
        padding: 32px 16px;
    }

    .main-image {
        margin: 0px;
        min-height: 250px;
    }

    #second-col-main {
        background-color: white;
        padding: 32px 0px 0px 0px;
    }

    .info-el {
        flex-direction: column;
        padding: 0px;
    }

    .info-el-picture {
        min-height: 200px;
    }

    .info-el-info {
        padding: 16px 16px 64px 16px;
    }

    #start-learning {
        background-color: white;
    }

    .section-element {
        border-top: 2px solid var(--text-color-light);
    }

    .section-content {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 8px;
        padding: 0px;
    }

    .course {
        background-color: var(--text-color-light);
        padding: 16px 16px 24px 16px;
    }

    .course h4{
        text-align: center;
    }

    .no-mobile,
    .course div,
    .course p {
        display: none;
    }
    
    .video-info {
        padding-right: 0px;
    }

    .no-side-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-links {
        display: none;
        gap: 0px;
    }
}